asgiref==3.9.0
beautifulsoup4==4.12.3
certifi==2024.12.14
cffi==1.17.1
charset-normalizer==3.4.1
colorama==0.4.6
comtypes==1.4.10
cryptography==44.0.2
cryptography-fernet==0.1.0
DateTime==5.5
Django==5.2.4
django-cors-headers==4.7.0
django-csp==4.0
django-filter==25.1
django-taggit==6.1.0
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.1
fire==0.7.0
fonttools==4.58.4
idna==3.10
lxml==6.0.0
mysql-connector-python==9.3.0
mysqlclient==2.2.7
packaging==25.0
pillow==11.3.0
pycparser==2.22
PyJWT==2.10.1
python-dateutil==2.9.0.post0
python-docx==1.2.0
python-dotenv==1.0.1
pyttsx4==3.0.15
pytz==2025.2
requests==2.32.3
setuptools==80.9.0
six==1.17.0
soupsieve==2.6
sqlparse==0.5.3
termcolor==3.1.0
tqdm==4.67.1
typing_extensions==4.14.0
tzdata==2025.2
urllib3==2.3.0
whitenoise==6.9.0
zope.interface==7.2
